@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

.container {
    position: relative;
}

img {
    width: 20%;
    height: 20%;
}

div {
    color: azure;
    font-family: Pacifico;
}

.noord {
    position: absolute;
    top: 1px;
    left: 170px;
}

.oost {
    position: absolute;
    top: 170px;
    left: 340px;
}

.zuid {
    position: absolute;
    top: 350px;
    left: 170px;
}

.west {
    position: absolute;
    top: 170px;
    left: 1px;
}
